* {
	box-sizing: border-box;
}

@font-face {
    font-family: "RidleyGrotesk-Bold";
    src: url("assets/fonts/RidleyGrotesk-Bold.woff") format("woff");
    }
	
a {
	color: #F2C94C;
	text-decoration: none;
	font-family: 'RidleyGrotesk-Bold';
	display: inline-block;
	position: relative;
	z-index: 1;
	padding: 2em;
	margin: -2em;

  }

  #home {
	display: flex;
	align-items: center;
	max-width: 100px;
	/** margin: 20px; **/
}

  #header {
	display: flex;
	align-content: center;
	justify-content: space-between;
	margin: 24px;
}

#home img {
	width: 24px;
	height: 24px;
}



body {
	margin: 0px;
	padding: 20px;
	background-color: #212121;
	font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
	margin: auto;
	max-width: 700px;
}

#title {
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-top: 100px;
	font-size: 3em;
	font-family: "RidleyGrotesk-Bold";
}
p {
	font-size: 20px;
	color: white;
	text-align: center;
	font-family: "RidleyGrotesk-Bold";
}

form {
	display: flex;
	width: auto;
	flex-direction: column;
	font-family: "RidleyGrotesk-Bold";
}

/* player name input field */
.player-input {
	margin: 5px 0px;
	height: 100px;
	padding: 30px;
	background-color: rgb(24, 24, 24);
	color: rgb(219, 219, 219);
	outline: none;
	box-shadow: none;
	border: 0;
	border-radius: 16px;
	font-size: 1.5em;
	font-family: 'RidleyGrotesk-Bold';
}

.player-input:focus {
	background-color: rgb(0, 0, 0);
	color: white;
	font-family: "RidleyGrotesk-Bold";
}

#addbtn {
	width: 100%;
	height: 100px;
	border: none;
	background: #1B1B1B;
	border-radius: 16px;
	border: 3px solid #F2C94C;
	box-sizing: border-box;
	color: white;
	font-weight: bold;
	padding: 10px;
	margin-top: 5px;
	font-family: "RidleyGrotesk-Bold";
	font-size: 1.5em;
}

#addbtn:disabled {
	background: #1B1B1B;
	color: rgb(56, 56, 56);
}

.main-btn {
	width: 100%;
	height: 100px;
	margin: 50px 0px;
	font-size: 1.5em;
	background-color: rgb(61, 61, 61);
	color: white;
	vertical-align: middle;
	font-family: "RidleyGrotesk-Bold";
	background: #F2C94C;
	border: 3px solid #1F1F1F;
	box-sizing: border-box;
	border-radius: 16px;
	color: black;
}

.main-btn:disabled {
	background-color: rgb(46, 46, 46);
	color: rgb(19, 19, 19);
}

.main-btn a {
	color: white;
	text-decoration: none;
}

#pig {
	margin: auto;
	width: fit-content;
}
