body {
	max-width: 720px;
	margin: 0 auto;
	padding-bottom: 200px;
	background-color: #000;
	font-family: Helvetica, Arial, sans-serif;
}

@font-face {
	font-family: 'RidleyGrotesk-Bold';
	src: url('assets/fonts/RidleyGrotesk-Bold.woff') format('woff');
}

#header {
	display: flex;
	align-content: center;
	justify-content: space-between;
	margin: 24px;
}

#home {
	display: flex;
	align-items: center;
	max-width: 100px;
	margin: 20px;
}

#home img {
	width: 24px;
	height: 24px;
}

#home a {
	width: 50px;
	margin-left: 10px;
	color: white;
	text-decoration: none;
	font-family: 'RidleyGrotesk-Bold';
	color: #f2c94b;
}

#round-info {
	display: flex;
	flex-direction: column;
	flex-grow: 4;
	align-items: center;
}

#round-num {
	margin: 0px;
	color: #8b8b8b;
}

#round-score {
	margin: 0;
	color: white;
	font-size: 50px;
	font-weight: 900;
}

#rules-btn {
	align-self: center;
	/** min-width: 100px; **/
	padding: 10px;
	border: none;
	background-color: #000;
	color: #f2c94b;
	text-align: right;
	cursor: pointer;
	appearance: none;
	font-family: 'RidleyGrotesk-Bold';
	border-radius: 100px;
	border: 2px solid #f2c94b;
}

#players {
	display: flex;
	justify-content: center;
	margin: 10px 15px;
	color: white;
	gap: 10px;
}

.player-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 150px;
	padding: 10px;
	border: 2px solid #f2c94b;
	border-radius: 16px;
	background-color: #1b1b1b;
}

.player-card.inactive {
	background-color: #000;
	border-color: #262626;
}

.player-name {
	margin: 5px;
	color: #f2c94b;
	font-weight: 700;
}

.player-total {
	margin: 0px;
	color: white;
	font-weight: 900;
}

button {
	touch-action: manipulation;
	font-family: 'RidleyGrotesk-Bold';
}

button:disabled {
	color: rgb(19, 19, 19);
	color: rgb(221, 221, 221);
	background-color: #3f3f3f;
	opacity: 0.5;
}

#pigs-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	max-width: 720px;
	margin: 10px;
}

.pig-btn {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	min-width: 150px;
	max-width: 400px;
	min-height: 75px;
	margin: 5px;
	border: none;
	border-radius: 7px;
	background-color: #1b1b1b;
	color: white;
	font-size: 12px;
	padding: 20px;
}

.pig-btn-oinker {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	margin: 5px;
	max-width: 400px;
	min-width: 150px;
	min-height: 75px;
	background-color: #1b1b1b;
	color: white;
	font-size: 12px;
	border: #eb5757;
	border-width: 1px;
	border-radius: 7px;
}

.pig-img {
	max-width: 65px;
	max-height: 65px;
}

.pig-btn.single {
	background-color: #eb5757;
	color: white;
	font-size: 12px;
}

.pig-btn.double {
	background-color: #eb5757;
	box-shadow: 0 0 0 3px rgb(37, 37, 37), 0 0 0 6px #eb5757;
	color: white;
	font-size: 12px;
}

#main-btns-container {
	display: inline-block;
	flex-direction: column;
	margin-top: 20px;
	position: fixed;
	left: 8px;
	bottom: 0;
	width: 96%;
	text-align: center;
	border-top: aqua;
	border-color: aqua;
	background-color: black;
	border-top: 1px solid rgb(61, 61, 61);
	padding-top: 20px;
	padding-bottom: 10px;
}

.main-btn {
	width: 100%;
	min-height: 65px;
	margin: 5px 0px;
	border: none;
	border-radius: 7px;
	background-color: #242424;
	color: white;
	font-size: 20px;
	appearance: none;
}

.dashboard {
	display: flex;
	color: white;
}

.dashboard li {
	list-style-type: none;
}

#bank {
	background-color: #f2c94b;
	color: #000;
}

.modal {
	visibility: hidden;
	position: absolute;
	top: 50px;
	right: 0px;
	left: 0px;
	width: 300px;
	height: 500px;
	margin: auto;
	padding: 24px;
	border-radius: 16px;
	background-color: white;
	color: black;
	opacity: 0;
	transition: opacity 0.3s;
}
.modal-close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 40px;
	height: 40px;
	padding: 0px;
	border: none;
	background-color: #fff;
	font-size: 20px;
	font-weight: 900;
	cursor: pointer;
	appearance: none;
}

.modal-content h2 {
	color: #eb5757;
	text-align: center;
}

.modal-content p {
	font-size: 14px;
	line-height: 150%;
}
.overlay {
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.78);
	opacity: 0;
	transition: opacity 0.3s;
	user-select: none;
}

.isVisible {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}

@media only screen and (max-width: 600px) {
	.pig-btn {
		max-width: 100px;
		min-width: 130px;
	}
	.main-btn {
		min-height: 46px;
		font-size: 1em;
	}
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}
